workflows/n8n-super-agent-workflow.json/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá. Tudo bem?👋\nComo posso te ajudar hoje?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -512,
        -16
      ],
      "id": "3aaa4363-0138-42dd-aefc-26d2453d0137",
      "name": "When chat message received",
      "webhookId": "69e8ddad-f729-47e1-bef4-e4e324a9c905"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "574c2dbe-3fec-4eb7-bee1-5f6f8d534b19",
              "name": "Id_Conversa",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "4df11f0e-8a3f-44d0-8279-f89e4752f51e",
              "name": "Mensagem",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        -16
      ],
      "id": "c4a3035e-be8b-49cc-ac43-7890e80ed207",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uv2kYRPd3wfONMb3_UbTsrGIZRevsIrw95PaeYKJvrA",
          "mode": "list",
          "cachedResultName": "Curso N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uv2kYRPd3wfONMb3_UbTsrGIZRevsIrw95PaeYKJvrA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Case 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uv2kYRPd3wfONMb3_UbTsrGIZRevsIrw95PaeYKJvrA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Id_Convesa": "={{ $json.Id_Conversa }}",
            "Mensagem": "={{ $json.Mensagem }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Id_Convesa",
              "displayName": "Id_Convesa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensagem",
              "displayName": "Mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        -16
      ],
      "id": "6d626a41-cd68-47ad-a56c-77d4659b625d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YgsUmA3wChFpsGbh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.Mensagem }}",
        "options": {
          "systemMessage": "Você é um super agente de suporte, seja educado, engraçado e utilize emojis em suas respostas para deixar a conversa mais humanizada."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        112,
        -16
      ],
      "id": "6f2c455f-89db-425e-8536-48039c58354b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        32,
        128
      ],
      "id": "690fc0bc-5ec9-4c39-a479-d7f1bab10ffd",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "h09R7uOOM8wcDXR6",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        160
      ],
      "id": "dc058c55-648f-4fdb-be90-636a08b945e5",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        432,
        176
      ],
      "id": "6f95a760-c67e-41f2-862d-35024bf2668a",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        464,
        -16
      ],
      "id": "a6a9fe46-4c56-4334-814c-e9dc6e3e3b31",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        304,
        160
      ],
      "id": "07aef853-173e-4a43-8a34-762a574e0ffb",
      "name": "Wikipedia"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "56a21458-57ed-4a51-b4f7-536b4850c806",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "56eef9e53fe98324aadef29d1569a48d19c480ede384f4d3922e29bc9abfba3c"
  },
  "id": "A8m3EdjbIkP9d5Zd",
  "tags": []
}